@import "./colors.css";

* {
	font-family: Fira Code;
	font-weight: bold;
	font-size: 9pt;
}

/* Bar itself */
window#waybar {
	background: @background;
	border: 2px solid @border;
}

/* Text colors */
#window,
#language,
#cpu,
#memory,
#custom-notification,
#pulseaudio,
#custom-spacer,
#clock {
	color: @text;
}

/* Apply margin to first and last module */
#workspaces {
	margin-left: 15px;
}
#clock {
	margin-right: 0px;
}

/* Spacer */
#custom-spacer {
	margin: 0 3px 0 3px;
}

/* Workspaces */

#workspaces button {
	padding: 0 4px 0 4px;
	border-radius: 0;
	color: @ws-active-text;
	min-width: 10px;
	min-height: 10px
}

#workspaces button:hover {
	color: @ws-active-text;
}

#workspaces button.empty {
	padding: 0 4px 0 4px;
	border-radius: 0;
	color: @ws-persistent-text;
}

#workspaces button.active {
	padding: 1px 4px 0 4px;
	border-bottom: 2px solid @ws-focused;
	color: @ws-active-text;
}

#workspaces button.urgent {
	padding: 1px 4px 0 4px;
	border-bottom: 2px solid @ws-urgent;
}

#custom-notification {
	margin-right: 15px;
}
