/* Tag cloud container */
.tag-cloud-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  padding: 6px;
  max-height: 150px;
  /* scroll if too many tags */
  overflow-y: auto;
  background-color: var(--background-modifier-form-field);
  border-radius: 6px;
  border: 1px solid var(--background-modifier-border);
}

/* Each tag chip */
.tag-chip {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: color-mix(in srgb,
      var(--interactive-accent) 50%,
      black);
  --tag-color: var(--text-on-accent);
  --tag-background: transparent;
  color: var(--text-on-accent) !important;
  text-decoration: none;
  font-size: var(--font-ui-small);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tag-chip:hover {
  /* background-color: var(--interactive-accent-hover); */
  text-decoration: none !important;
  --tag-color-hover: var(--text-on-accent);
  --tag-background-hover: transparent;
  background-color: var(--interactive-accent);
}